body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

P {
  margin-bottom: 0px;
}

@font-face {
  font-family: "baloo";
  src: url("./fontFamily/Baloo-Regular.ttf");
}

@font-face {
  font-family: "Arial MT";
  src: url("./fontFamily/ARI.ttf");
}

.ant-popover-inner-content {
  padding: 0px !important;
}

.ant-alert-with-description.ant-alert-no-icon {
  padding: 5px !important;
}

.ql-container {
  height: 200px !important;
}

.BxOlj p {
  width: "100%" !important;
}
